In [21]:
import pandas as pd
full_articles = pd.read_csv("../data/external/products.csv", dtype='string')
articles_clean = pd.read_parquet("../data/processed/articles_clean.parquet").query("forSale.notna()")

In [22]:
# Drop some columns from articles_clean before merging
cols_to_drop = ['priceEUR', 'priceNOK', 'priceDKK', 'forSale', 'sizeId', 'brandId', 'categoryId']
articles = articles_clean.drop(columns=cols_to_drop, errors='ignore').copy()
cols_to_add = ['description', 'color']
articles = articles.merge(
    full_articles[['sku'] + cols_to_add],
    on='sku',
    how='left'
)

In [23]:
articles.isnull().mean()

sku            0.000000
groupId        0.000000
name           0.002362
brand          0.000000
audience       0.011809
audienceId     0.011809
category       0.000000
priceSEK       0.000000
description    0.004088
color          0.025617
dtype: float64

Removing bugs

In [24]:
na_name = articles[articles["name"].isna()]
na_name

,sku,groupId,name,brand,audience,audienceId,category,priceSEK,description,color
2551,280119-37,280117,<NA>,Embla of Sweden,<NA>,<NA>,unknown,1249,<NA>,<NA>
2552,280119-38,280117,<NA>,Embla of Sweden,<NA>,<NA>,unknown,1249,<NA>,<NA>
2553,280119-39,280117,<NA>,Embla of Sweden,<NA>,<NA>,unknown,1249,<NA>,<NA>
2554,280119-40,280117,<NA>,Embla of Sweden,<NA>,<NA>,unknown,1249,<NA>,<NA>
2555,280119-41,280117,<NA>,Embla of Sweden,<NA>,<NA>,unknown,1249,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...
13103,270608-4042,270608,<NA>,Damella,dam,6,"Sovplagg,Pyjamas",899,<NA>,Grön
13104,270608-3638,270608,<NA>,Damella,dam,6,"Sovplagg,Pyjamas",899,<NA>,Grön
19720,551607,505254,<NA>,Redlunds,<NA>,<NA>,unknown,239,<NA>,<NA>
33022,262130-80D,262130,<NA>,Swegmark,<NA>,<NA>,unknown,874,<NA>,<NA>
33023,973036,973036,<NA>,unknown,<NA>,<NA>,unknown,72,<NA>,<NA>

In [25]:
articles = articles[articles["name"].notna()].reset_index(drop=True)

In [26]:
for c in articles['color'].unique():
    print(repr(c))

<NA>
'Vit,Vit,Vit'
'Grå,Grå,Grå'
'Multi,Multi'
'Svart,Svart,Svart'
'Vit,Vit'
'Vit'
'Röd,Röd,Röd'
'Svart'
'Beige,Beige'
'Grå,Grå'
'Svart,Svart'
'Marin,Marin'
'Grön,Grön'
'Mellanblå,Mellanblå'
'Rosa,Rosa'
'Off-white'
'Ljusgrå'
'Beige'
'Rosa'
'Röd,Röd'
'Linne'
'Brun'
'Blå,Blå'
'Ljung,Ljung'
'Linne,Linne'
'Ljusblå,Ljusblå'
'Mörkblå,Mörkblå'
'Sand,Sand'
'Brun,Brun'
'Vit,Vit,Vit,Vit'
'Linne,Linne,Linne,Linne'
'Gul,Gul'
'Turkos,Turkos'
'Multi,Multi,Multi'
'Mörkgrön,Mörkgrön'
'Lila,Lila'
'Rost,Rost'
'Champagne'
'Gråblå,Gråblå'
'Off-white,Off-white'
'Indigo,Indigo'
'Antracit'
'Vinröd,Vinröd'
'Cognac,Cognac'
'Creme,Creme'
'Mörkgrå,Mörkgrå'
'Off-white,Off-white,Off-white,Off-white'
'Ljusgrå,Ljusgrå'
'Aqua,Aqua'
'Ljusbrun,Ljusbrun'
'Gammalrosa,Gammalrosa'
'Off-white,Off-white,Off-white,Off-white,Off-white,Off-white'
'Kaki,Kaki'
'Indigo,Indigo,Indigo,Indigo,Indigo,Indigo'
'Rosa,Rosa,Rosa,Rosa,Rosa,Rosa'
'Mörkgrå,Mörkgrå,Mörkgrå,Mörkgrå,Mörkgrå,Mörkgrå'
'Rost,Rost,Rost,Rost,Rost,Rost'
'Vit/beige,Vit/beige'
'Grön,Grön,Grön'
'Grå'
'Grön'
'Lila'
'Ljung'
'Mörkgrå'
'Mörkgrön'
'Röd'
'Greige,Greige'
'Mintgrön,Mintgrön,Mintgrön'
'Svart/grå'
'Marin'
'Beige,Beige,Beige'
'Brun,Brun,Brun'
'Blå'
'Blå,Blå,Blå'
'Oblekt,Oblekt,Oblekt'
'Svart/grå,Svart/grå,Svart/grå'
'Blå/vit'
'Vinröd'
'Rosa/vit'
'Aqua'
'Ljusrosa,Ljusrosa'
'Ljusgul'
'Petrol'
'Vit/beige'
'Gul,Gul,Gul'
'Rosa,Rosa,Rosa'
'Turkos,Turkos,Turkos'
'Vanilj'
'Mörkblå'
'Taupe'
'Puderrosa'
'Beige/brun'
'Nougat'
'Korall'
'Off-white,Off-white,Off-white'
'Svart/grå,Svart/grå'
'Blå/mönstrad'
'Gråmelerad'
'Multi'
'Duvblå'
'Svart/mönstrad'
'Vanilj,Vanilj,Vanilj'
'Svart/vit'
'Röd,Röd,Röd,Röd'
'Röd,Röd,Röd,Röd,Röd,Röd'
'Hallon'
'Hallon,Hallon'
'Grå/rosa,Grå/rosa'
'Vanilj,Vanilj'
'Mörkgrå,Mörkgrå,Mörkgrå'
'Klarblå,Klarblå,Klarblå'
'Ljus blå,Ljus blå,Ljus blå'
'Blush,Blush,Blush'
'Oliv,Oliv,Oliv'
'Blå/grön,Blå/grön,Blå/grön'
'Mellanrosa,Mellanrosa,Mellanrosa'
'Kamel,Kamel,Kamel'
'Mellangrå,Mellangrå,Mellangrå'
'Lila,Lila,Lila'
'Natur,Natur,Natur'
'Ljusturkos,Ljusturkos,Ljusturkos'
'Cerise,Cerise,Cerise'
'Gråmelerad,Gråmelerad,Gråmelerad'
'Ljusgrå mix,Ljusgrå mix,Ljusgrå mix'
'Jeansblå,Jeansblå,Jeansblå'
'Grålila,Grålila,Grålila'
'Lavendel,Lavendel,Lavendel'
'Orange mix,Orange mix,Orange mix'
'Puderrosa,Puderrosa,Puderrosa'
'Mellanbrun,Mellanbrun,Mellanbrun'
'Ljus beige,Ljus beige,Ljus beige'
'Havsblå,Havsblå,Havsblå'
'Marinblå,Marinblå,Marinblå'
'Turkos'
'Grå,Svart'
'Natur'
'Transparent'
'Gammalrosa'
'Svart/röd'
'Grå/svart'
'Grön/Svart'
'Blå/vit,Blå/vit'
'Svart/vit,Svart/vit'
'Svart,Svart,Svart,Svart'
'Ljusgrön,Ljusgrön'
'Ljusgrön,Ljusgrön,Ljusgrön'
'Vinröd/svart'
'Grå/svart,Grå/svart'
'Gråmelerad,Gråmelerad'
'Sand'
'Ljusrosa'
'Nougat,Nougat'
'Ljusblå'
'Svart/marinmönstrad'
'Kaki'
'Lila/rosa'
'Blågrå'
'Korall,Korall'
'Aubergine'
'Taupe,Taupe'
'Creme'
'Orange'
'Gul'
'Plommonlila,Plommonlila'
'Champagne,Champagne,Champagne'
'Vit,Vit,Vit,Vit,Vit,Vit,Vit,Vit'
'Brun,Brun,Brun,Brun,Brun,Brun,Brun,Brun'
'Vit/beige,Vit/beige,Vit/beige'
'Marin,Marin,Marin'
'Korall,Korall,Korall'
'Ljusrosa,Ljusrosa,Ljusrosa,Ljusrosa,Ljusrosa,Ljusrosa'
'Ljung,Ljung,Ljung'
'Grå/vit,Grå/vit'
'Mullvad'
'Olivgrön'
'Denim'
'Guld,Guld,Guld'
'Svart/silver'
'Mörkröd,Mörkröd'
'Aqua,Aqua,Aqua,Aqua,Aqua,Aqua'
'Beige,Beige,Beige,Beige,Beige,Beige'
'Grön,Grön,Grön,Grön,Grön,Grön'
'Marin,Marin,Marin,Marin,Marin,Marin'
'Ljusrosa,Ljusrosa,Ljusrosa,Ljusrosa,Ljusrosa,Ljusrosa,Ljusrosa,Ljusrosa'
'Grön,Grön,Grön,Grön,Grön,Grön,Grön,Grön'
'Ljung,Ljung,Ljung,Ljung,Ljung,Ljung,Ljung,Ljung'
'Kaki,Kaki,Kaki,Kaki'
'Linne,Linne,Linne,Linne,Linne,Linne,Linne,Linne'
'Syrénlila,Syrénlila,Syrénlila,Syrénlila'
'Syrénlila,Syrénlila'
'Champagne,Champagne'
'Svart/blå'
'Pralin,Pralin'
'Antracit,Antracit'
'Brun,Brun,Brun,Brun,Brun,Brun'
'Mörkrosa,Mörkrosa,Mörkrosa,Mörkrosa,Mörkrosa,Mörkrosa'
'Blå,Blå,Blå,Blå,Blå,Blå'
'Grå,Grå,Grå,Grå,Grå,Grå'
'Vit,Vit,Vit,Vit,Vit,Vit'
'Grå,Grå,Grå,Grå,Grå,Grå,Grå,Grå'
'Blå,Blå,Blå,Blå,Blå,Blå,Blå,Blå'
'Beige,Beige,Beige,Beige,Beige,Beige,Beige,Beige'
'Mörkgrå,Mörkgrå,Mörkgrå,Mörkgrå,Mörkgrå,Mörkgrå,Mörkgrå,Mörkgrå'
'Mörkrosa,Mörkrosa,Mörkrosa,Mörkrosa,Mörkrosa,Mörkrosa,Mörkrosa,Mörkrosa'
'Mörkgrön,Mörkgrön,Mörkgrön,Mörkgrön,Mörkgrön,Mörkgrön'
'Mörkgrön,Mörkgrön,Mörkgrön,Mörkgrön,Mörkgrön,Mörkgrön,Mörkgrön,Mörkgrön'
'Marin,Marin,Marin,Marin,Marin,Marin,Marin,Marin'
'Aqua,Aqua,Aqua,Aqua,Aqua,Aqua,Aqua,Aqua'
'Rosa,Rosa,Rosa,Rosa,Rosa,Rosa,Rosa,Rosa'
'Ljung,Ljung,Ljung,Ljung,Ljung,Ljung'
'Linne,Linne,Linne,Linne,Linne,Linne'

In [27]:
# Deduplicate repeated color names in the 'color' column
def dedup_color(val):
    if pd.isna(val):
        return val
    seen = set()
    tokens = [x.strip() for x in str(val).split(',')]
    deduped = []
    for token in tokens:
        if token and token not in seen:
            deduped.append(token)
            seen.add(token)
    return ','.join(deduped) if deduped else pd.NA

articles['color'] = articles['color'].apply(dedup_color)

no sku instead using groupid for recs

In [28]:
# Deduplicate so that for each groupId, keep the first row for all columns except color, 
# which becomes a list of all colors from merged rows
def merge_colors(series):
    # Remove missing/unknown/nan/none and deduplicate
    colors = [str(c).strip() for c in series if pd.notna(c) and str(c).strip().lower() not in {"", "unknown", "nan", "none"}]
    return list(sorted(set(colors))) if colors else []

articles = articles.sort_values("sku")
articles = articles.groupby("groupId", as_index=False).agg(
    {col: (merge_colors if col == "color" else "first") for col in articles.columns if col != "sku"}
)

In [29]:
articles.isna().mean()

groupId        0.000000
name           0.000000
brand          0.000000
audience       0.091120
audienceId     0.091120
category       0.000000
priceSEK       0.000000
description    0.009286
color          0.000000
dtype: float64

In [30]:

articles.to_parquet("../data/processed/articles_for_recs.parquet", index=False)