In [2]:
import pandas as pd
articles = pd.read_csv("../data/external/articles.csv")

articles.head()

/tmp/ipykernel_2951/830160169.py:2: DtypeWarning: Columns (1,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  articles = pd.read_csv("../data/external/articles.csv")

,sku,groupId,brandId,length,width,height,weight,status,name,name.1,color,colorId,size,sizeId,audience,audienceId,category,categoryId,fabric,fabricId
0,000DIV,000DIV,NaN,1.0,1.0,1.0,1.0,active,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,052743,052743,NaN,318.0,240.0,60.0,1291.0,inactive,Lakan/örngott blå 4 del,NaN,Blå,264,Blå,328,NaN,NaN,NaN,NaN,NaN,NaN
2,055522,055522,265.0,0.0,0.0,0.0,3.0,active,Beskrivning Tröja,Gjestal Garn,NaN,NaN,NaN,NaN,Dam,6,Tröjor,17,NaN,NaN
3,055573,055573,55.0,210.0,150.0,9.0,3.0,active,Beskrivning Luva,Novita,NaN,NaN,NaN,NaN,Dam,6,"Mössor & hattar,Mönster","39,3961",NaN,NaN
4,055575,055575,55.0,210.0,150.0,9.0,3.0,active,Beskrivning Vantar,Novita,NaN,NaN,NaN,NaN,Dam,6,Vantar,45,NaN,NaN

In [42]:
#how many rows are there in articles?
print(len(articles))

3133

In [12]:
import pandas as pd
articles = pd.read_csv("../data/external/articles.csv")

articles = articles.drop(columns=['length', 'width', 'height', 'weight'])

articles.head()

/tmp/ipykernel_2951/2724548961.py:2: DtypeWarning: Columns (1,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  articles = pd.read_csv("../data/external/articles.csv")

,sku,groupId,brandId,status,name,name.1,color,colorId,size,sizeId,audience,audienceId,category,categoryId,fabric,fabricId
0,000DIV,000DIV,NaN,active,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,052743,052743,NaN,inactive,Lakan/örngott blå 4 del,NaN,Blå,264,Blå,328,NaN,NaN,NaN,NaN,NaN,NaN
2,055522,055522,265.0,active,Beskrivning Tröja,Gjestal Garn,NaN,NaN,NaN,NaN,Dam,6,Tröjor,17,NaN,NaN
3,055573,055573,55.0,active,Beskrivning Luva,Novita,NaN,NaN,NaN,NaN,Dam,6,"Mössor & hattar,Mönster","39,3961",NaN,NaN
4,055575,055575,55.0,active,Beskrivning Vantar,Novita,NaN,NaN,NaN,NaN,Dam,6,Vantar,45,NaN,NaN

In [14]:
#count proportion of missing values in each column
articles.isnull().sum() / len(articles)

sku           0.000000
groupId       0.000009
brandId       0.185705
status        0.000009
name          0.008347
name.1        0.185705
color         0.169388
colorId       0.169388
size          0.033666
sizeId        0.033666
audience      0.582987
audienceId    0.582987
category      0.048474
categoryId    0.048474
fabric        0.998813
fabricId      0.998813
dtype: float64

In [19]:
import pandas as pd
import numpy as np

audience_to_id = {
    'Dam': '6',
    'Herr': '15',
    'Baby & barn': '12',
    'Barn & ungdom': '42',
    'Generic': '99'
}

articles['audience'] = articles['audience'].fillna('Generic')

def map_audience_to_id(audience_val):
    if pd.isna(audience_val):
        return np.nan
    # Split on commas for multi-valued cells, strip whitespace
    groups = [a.strip() for a in str(audience_val).split(',') if a.strip()]
    # Map each group to its ID
    ids = [audience_to_id[a] for a in groups if a in audience_to_id]
    return ','.join(ids) if ids else np.nan

articles['audienceId'] = articles['audience'].apply(map_audience_to_id)


articles.head()

,sku,groupId,brandId,status,name,name.1,color,colorId,size,sizeId,audience,audienceId,category,categoryId,fabric,fabricId
0,000DIV,000DIV,NaN,active,NaN,NaN,NaN,NaN,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
1,052743,052743,NaN,inactive,Lakan/örngott blå 4 del,NaN,Blå,264,Blå,328,Generic,99,NaN,NaN,NaN,NaN
2,055522,055522,265.0,active,Beskrivning Tröja,Gjestal Garn,NaN,NaN,NaN,NaN,Dam,6,Tröjor,17,NaN,NaN
3,055573,055573,55.0,active,Beskrivning Luva,Novita,NaN,NaN,NaN,NaN,Dam,6,"Mössor & hattar,Mönster","39,3961",NaN,NaN
4,055575,055575,55.0,active,Beskrivning Vantar,Novita,NaN,NaN,NaN,NaN,Dam,6,Vantar,45,NaN,NaN

In [20]:
#print unique values of color
color = articles['color'].unique()
print(color)

[nan 'Blå' 'Gul' 'Cerise' 'Ljusturkos' 'Natur' 'Grå' 'Mörkgrå' 'Mellangrå'
 'Kamel' 'Vit' 'Mellanrosa' 'Violett' 'Blå/grön' 'Oliv' 'Svart' 'Blush'
 'Ljus blå' 'Klarblå' 'Lila' 'Röd' 'Marinblå' 'Havsblå' 'Ljus beige'
 'Beige' 'Mellanbrun' 'Puderrosa' 'Orange mix' 'Gråmelerad' 'Lavendel'
 'Grålila' 'Jeansblå' 'Ljusgrå mix' 'Vit/beige' 'Rosa' 'Svart/grå'
 'Off-white' 'Brun' 'Turkos' 'Beige/brun' 'Svart/vit' 'Vanilj' 'Champagne'
 'Multi' 'Grön' 'Gammalrosa' 'Svart,Svart,Svart' 'Rosa,Rosa,Rosa'
 'Grå,Grå,Grå' 'Svart,Svart' 'Grå,Grå' 'Grå,Svart' 'Rosa,Rosa'
 'Transparent' 'Ljusblå' 'Grå/svart' 'Vinröd' 'Röd,Röd' 'Vit,Vit/beige'
 'Blå/vit' 'Marin' 'Mörkblå' 'Korall' 'Hallon' 'Lila/rosa' 'Ljusgrå'
 'Orange' 'Svart,Svart,Svart,Svart' 'Grön/Svart' 'Svart/röd'
 'Rosa/vit,Rosa/vit' 'Rosa/vit' 'Blå,Blå' 'Beige,Beige,Beige,Beige'
 'Beige,Beige' 'Denim' 'Sand' 'Ljusgul' 'Mörkrosa' 'Kaki' 'Mörkgrön'
 'Ljusgrön' 'Vinröd/svart' 'Olivgrön' 'Grå/rosa,Grå/rosa' 'Nougat'
 'Antracit' 'Creme' 'Mocca' 'Svart/vit,Svart/vit' 'Grå/vit' 'Ljusrosa'
 'Vit,Vit' 'Aprikos' 'Svart/mönstrad' 'Blå/mönstrad' 'Ljusrosa,Ljusrosa'
 'Ljusbrun' 'Röd,Röd,Röd' 'Taupe' 'Duvblå' 'Beige multi' 'Petrol' 'Pralin'
 'Mullvad' 'Guld' 'Svart/marinmönstrad' 'Aubergine' 'Blågrå'
 'Korall,Korall' 'Aqua' 'Mörkröd' 'Svart/silver' 'Mintgrön' 'Oblekt'
 'Rosa,Dimrosa' 'Grön,Dimgrön' 'Blå,Mellanblå' 'Greige,Greige,Greige'
 'Greige' 'Linne' 'Linne,Linne,Linne' 'Mörkgrå,Mörkgrå,Mörkgrå'
 'Ljusgrå,Ljusgrå,Ljusgrå' 'Vit,Vit,Vit' 'Blå,Blå,Blå' 'Ljusgrå,Svart/grå'
 'Ljung' 'Cognac' 'Sand,Vit/beige' 'Vit,Vit,Vit,Vit'
 'Ljusrosa,Ljusrosa,Ljusrosa,Ljusrosa' 'Grön,Grön,Grön,Grön'
 'Grå,Grå,Grå,Grå' 'Blå,Blå,Blå,Blå' 'Mörkgrå,Mörkgrå,Mörkgrå,Mörkgrå'
 'Mörkrosa,Mörkrosa,Mörkrosa,Mörkrosa' 'Brun,Brun,Brun'
 'Marin,Marin,Marin' 'Mörkgrön,Mörkgrön,Mörkgrön'
 'Ljusrosa,Ljusrosa,Ljusrosa' 'Grön,Grön,Grön' 'Beige,Beige,Beige'
 'Mörkrosa,Mörkrosa,Mörkrosa' 'Brun,Brun,Brun,Brun'
 'Marin,Marin,Marin,Marin' 'Mörkgrön,Mörkgrön,Mörkgrön,Mörkgrön' 'Rost'
 'Kaki,Kaki' 'Ljung,Ljung,Ljung' 'Aqua,Aqua,Aqua'
 'Linne,Linne,Linne,Linne' 'Rosa,Rosa,Rosa,Rosa' 'Ljung,Ljung,Ljung,Ljung'
 'Aqua,Aqua,Aqua,Aqua' 'Off-white,Off-white' 'Indigo,Indigo,Indigo'
 'Rost,Rost,Rost' 'Off-white,Off-white,Off-white' 'Gråblå' 'Indigo'
 'Mörkbrun' 'Linne,Linne' 'Ljung,Lila' 'Grön,Grön' 'Natur,Off-white'
 'Svart,Svart/grå' 'Mellanblå' 'Mullvad,Beige' 'Mullvad,Vit/beige'
 'Vit,Rosa' 'Turkos,Blå']

In [23]:
# Clean color and colorId columns by extracting the first unique non-empty token from comma-separated values
import pandas as pd

def clean_first(val):
    if pd.isna(val):
        return pd.NA
    seen = set()
    tokens = []
    for x in str(val).split(','):
        x = x.strip()
        if x and x not in seen:
            seen.add(x)
            tokens.append(x)
    return tokens[0] if tokens else pd.NA

articles['color'] = articles['color'].apply(clean_first)
articles['colorId'] = articles['colorId'].apply(clean_first)

articles['color'] = articles['color'].fillna('__UNK_COLOR__')
articles['colorId'] = articles['colorId'].fillna('__UNK_COLORID__')

articles.head()

,sku,groupId,brandId,status,name,name.1,color,colorId,size,sizeId,audience,audienceId,category,categoryId,fabric,fabricId
0,000DIV,000DIV,NaN,active,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
1,052743,052743,NaN,inactive,Lakan/örngott blå 4 del,NaN,Blå,264,Blå,328,Generic,99,NaN,NaN,NaN,NaN
2,055522,055522,265.0,active,Beskrivning Tröja,Gjestal Garn,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Dam,6,Tröjor,17,NaN,NaN
3,055573,055573,55.0,active,Beskrivning Luva,Novita,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Dam,6,"Mössor & hattar,Mönster","39,3961",NaN,NaN
4,055575,055575,55.0,active,Beskrivning Vantar,Novita,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Dam,6,Vantar,45,NaN,NaN

In [25]:

#  Check if 'sku' and 'groupId' columns are equivalent (i.e., all values are the same row-wise)
equivalent = (articles['sku'] == articles['groupId']).all()
print(f"Are 'sku' and 'groupId' columns equivalent? {equivalent}")

# If not equivalent, show some rows where they differ
if not equivalent:
    diff_rows = articles[articles['sku'] != articles['groupId']]
    print("Rows where 'sku' and 'groupId' differ:")
    display(diff_rows.head())

# Remove the rows where 'sku' and 'groupId' differ, in place
articles = articles[articles['sku'] == articles['groupId']].copy()

Are 'sku' and 'groupId' columns equivalent? False
Rows where 'sku' and 'groupId' differ:

,sku,groupId,brandId,status,name,name.1,color,colorId,size,sizeId,audience,audienceId,category,categoryId,fabric,fabricId
6,090962,095302,20.0,active,Garn Drops Nepal,Drops Design,Gul,305,NaN,NaN,Generic,99,NaN,NaN,"Ullgarn,Alpackagarn","368,664"
7,090963,095302,20.0,active,Garn Drops Nepal,Drops Design,Cerise,2551,NaN,NaN,Generic,99,NaN,NaN,"Ullgarn,Alpackagarn","368,664"
8,090964,095302,20.0,active,Garn Drops Nepal,Drops Design,Ljusturkos,2840,NaN,NaN,Generic,99,NaN,NaN,"Ullgarn,Alpackagarn","368,664"
10,095304,095302,20.0,active,Garn Drops Nepal,Drops Design,Grå,134,NaN,NaN,Generic,99,NaN,NaN,"Ullgarn,Alpackagarn","368,664"
11,095306,095302,20.0,active,Garn Drops Nepal,Drops Design,Mörkgrå,663,NaN,NaN,Generic,99,NaN,NaN,"Ullgarn,Alpackagarn","368,664"

In [26]:

#  Check if 'sku' and 'groupId' columns are equivalent (i.e., all values are the same row-wise)
equivalent = (articles['sku'] == articles['groupId']).all()
print(f"Are 'sku' and 'groupId' columns equivalent? {equivalent}")

# If not equivalent, show some rows where they differ
if not equivalent:
    diff_rows = articles[articles['sku'] != articles['groupId']]
    print("Rows where 'sku' and 'groupId' differ:")
    display(diff_rows.head())

Are 'sku' and 'groupId' columns equivalent? True

In [28]:
#remove groupId column in place
articles = articles.drop(columns=['groupId'])
articles.head()

,sku,brandId,status,name,name.1,color,colorId,size,sizeId,audience,audienceId,category,categoryId,fabric,fabricId
0,000DIV,NaN,active,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
1,052743,NaN,inactive,Lakan/örngott blå 4 del,NaN,Blå,264,Blå,328,Generic,99,NaN,NaN,NaN,NaN
2,055522,265.0,active,Beskrivning Tröja,Gjestal Garn,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Dam,6,Tröjor,17,NaN,NaN
3,055573,55.0,active,Beskrivning Luva,Novita,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Dam,6,"Mössor & hattar,Mönster","39,3961",NaN,NaN
4,055575,55.0,active,Beskrivning Vantar,Novita,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Dam,6,Vantar,45,NaN,NaN

In [35]:
articles['brandId'] = articles['brandId'].replace('nan', '__UNK_BRANDID__').astype('string')
print(articles['brandId'].dtype)

articles.head()

string

,sku,brandId,status,name,name.1,color,colorId,size,sizeId,audience,audienceId,category,categoryId,fabric,fabricId
0,000DIV,__UNK_BRANDID__,active,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
1,052743,__UNK_BRANDID__,inactive,Lakan/örngott blå 4 del,NaN,Blå,264,Blå,328,Generic,99,NaN,NaN,NaN,NaN
2,055522,265.0,active,Beskrivning Tröja,Gjestal Garn,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Dam,6,Tröjor,17,NaN,NaN
3,055573,55.0,active,Beskrivning Luva,Novita,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Dam,6,"Mössor & hattar,Mönster","39,3961",NaN,NaN
4,055575,55.0,active,Beskrivning Vantar,Novita,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Dam,6,Vantar,45,NaN,NaN

In [38]:
#status column
status = articles['status'].unique()
print(status)
articles['status'] = articles['status'].astype('string')
print(articles['status'].dtype)

['active' 'inactive' 'discontinued' 'removed']
string

In [56]:
# How many rows are there in articles vs how many rows that are in status inactive, discontinued, or removed

total_rows = len(articles)
inactive_rows = articles['status'].isin(['inactive', 'discontinued', 'removed']).sum()

print(f"Total rows in articles: {total_rows}")
print(f"Rows with status inactive, discontinued, or removed: {inactive_rows}")

Total rows in articles: 3111
Rows with status inactive, discontinued, or removed: 2401

In [53]:
#inspect name column, output all unique values
print(articles['name'].unique())
#count how many na in name column
print(articles['name'].isna().sum())
#print rows where name is na
articles[articles['name'].isna()]

[nan 'Lakan/örngott blå 4 del' 'Beskrivning Tröja' ... 'guldarmband'
 'Bruksanvisning Dagsljuslampa' 'Instruktioner värmemadrass']
22

,sku,brandId,status,name,name.1,color,colorId,size,sizeId,audience,audienceId,category,categoryId,fabric,fabricId
0,000DIV,__UNK_BRANDID__,active,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
2449,200014,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
2453,200030,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
2460,200048,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
2462,200055,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
2463,200063,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
2487,200105,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
2495,200113,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
103270,420287,121.0,inactive,NaN,Hemline,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
106965,561804,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
107415,567116,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
107416,567124,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
107844,581388,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
107845,581390,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
108062,589552,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
108063,589555,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
108116,590917,112.0,inactive,NaN,Linea,Blå,269,NaN,NaN,Generic,99,Påslakanset,165,NaN,NaN
108117,590947,112.0,inactive,NaN,Linea,Multi,86,NaN,NaN,Generic,99,Påslakanset,165,NaN,NaN
108118,590961,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
108119,590971,__UNK_BRANDID__,inactive,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN
108120,590985,112.0,inactive,NaN,Linea,Multi,86,NaN,NaN,Generic,99,Påslakanset,165,NaN,NaN
108537,973036,__UNK_BRANDID__,active,NaN,NaN,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Generic,99,NaN,NaN,NaN,NaN

In [54]:
#remove rows where name is na and save column as type string
articles = articles[articles['name'].notna()]
articles['name'] = articles['name'].astype('string')

In [58]:
#name.1	 unique values
print(articles['name.1'].unique()) 

#replace nan with __UNK_NAME__ and string type
articles['name.1'] = articles['name.1'].fillna('__UNK_NAME__').astype('string')

#check if name.1 is string
print(articles['name.1'].dtype)

articles.head()
#check if name.1 is string

[nan 'Gjestal Garn' 'Novita' 'Drops Design' 'Svarta Fåret' 'Knittingroom'
 'Järbo' 'Åshild' 'daylight' 'Permin' 'Linea' 'Cotonel' 'Damella'
 'Swegmark' 'Good Living' 'Abecita by Swegmark' 'Louise' 'Trust Care'
 'Belladot' 'Scholl' 'beurer' 'Invacare' 'Vadeco' 'RFSU' 'SpringYard'
 'Etac' 'Eazyplug' 'Redpink' 'Heinex' 'Brunngård' 'Hartmann'
 'Live Up Sport' 'Brix' 'NatraCure' 'Pharma Oculus' 'Colop' 'Imse'
 'Caremax' 'Swereco' 'Behrend Homecare' 'TM-Beds of Sweden AB' 'Popab'
 'Lundin' 'Bosign' 'Star Trading' 'Vervaco' 'Ateljé Margaretha' 'dB'
 'Panna' 'KÄRNAN' 'Piatnik' 'Cheatwell' 'Heye' 'Clementoni' 'Cobble Hill'
 'Creativ Company' 'Galltvål' 'Singer' 'Textra' 'PURElite' 'WizardiArt'
 'Trefl' 'Varvikas' 'Duftin' 'Rosenstand' 'Hemline' '1Conzept' 'HELVETIQ'
 'Västgöta Broderi' 'Nova Sloboda' 'Prym' 'Clover' 'Form Living'
 'Redlunds' 'HT Design' 'Borganäs of Sweden' 'Stjernsund' 'Pixie Design'
 'Noble House' 'Classic Textiles' 'Arvidssons Textil' 'Recycled by Wille'
 'Nääsgränsgården' 'Oehlenschläger' 'Fondaco' 'Coats' 'Disney']
string

,sku,brandId,status,name,name.1,color,colorId,size,sizeId,audience,audienceId,category,categoryId,fabric,fabricId
1,052743,__UNK_BRANDID__,inactive,Lakan/örngott blå 4 del,__UNK_NAME__,Blå,264,Blå,328,Generic,99,NaN,NaN,NaN,NaN
2,055522,265.0,active,Beskrivning Tröja,Gjestal Garn,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Dam,6,Tröjor,17,NaN,NaN
3,055573,55.0,active,Beskrivning Luva,Novita,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Dam,6,"Mössor & hattar,Mönster","39,3961",NaN,NaN
4,055575,55.0,active,Beskrivning Vantar,Novita,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Dam,6,Vantar,45,NaN,NaN
5,055576,55.0,active,Beskrivning Benvärmare,Novita,__UNK_COLOR__,__UNK_COLORID__,NaN,NaN,Dam,6,Sockor & strumpor,16,NaN,NaN